@import url(./icons/icons.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mona-sans";
  src: url("/fonts/mona-sans-bold.woff2");
}

@font-face {
  font-family: "inter";
  src: url("/fonts/inter-regular.woff2");
}

@font-face {
  font-family: "mona-sans";
  src: url("/fonts/mona-sans-bold.woff2");
}

@font-face {
  font-family: "inter";
  src: url("/fonts/inter-regular.woff2");
}

html {
  background-color: #1a1a1a;
  color: #fff;
  user-select: none;
  cursor: default;
}

@layer base {
  html {
    font-family: sono, sans-serif;
  }
}

.text-primary,
h1,
h2,
h3,
h4,
h5,
h6,
.click-copy {
  font-family: mona-sans, sans-serif;
}

.pk-version {
  font-family: "inter";
}
