@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "pp-neue-machina";
	src: url("/fonts/PPNeueMachina-InktrapLight.woff");
}

@font-face {
	font-family: "sono";
	src: url("/fonts/Sono-Light.woff2");
}

html {
	background-color: #1a1a1a;
	color: #fff;
	user-select: none;
	cursor: default;
}

@layer base {
	html {
		font-family: sono, sans-serif;
	}
}

.text-primary,
header,
h1,
h2,
h3,
h4,
h5,
h6,
button,
.click-copy {
	font-family: "pp-neue-machina" !important;
}

.pk-version {
	font-family: "sono";
}
