$primary: #ff3e00;

:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-primary {
	color: $primary;
}

.button {
	padding: 10px 10px;
	display: inline-block;
	background-color: $primary;
	color: white;
	text-decoration: none;
	border: none;
}

/* The sidebar menu */
.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 160px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: $primary;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: white;
	display: block;
}

.sidenav a:hover {
	background-color: #f1f1f1;
	color: $primary;
}

.main {
	margin-left: 160px; /* Same as the width of the sidebar */
	padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
