@charset "UTF-8";

/* tea-icons */
@font-face {
  font-family: "tea-icons";
  src: url("fonts/tea-icons.eot");
  src: url("fonts/tea-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/tea-icons.woff") format("woff"), url("fonts/tea-icons.ttf") format("truetype"),
    url("fonts/tea-icons.svg#tea-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "tea-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tea-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord:before {
  content: "\61";
}
.icon-download-arrow:before {
  content: "\62";
}
.icon-enter-arrow:before {
  content: "\63";
}
.icon-github:before {
  content: "\64";
}
.icon-instagram:before {
  content: "\65";
}
.icon-reddit:before {
  content: "\66";
}
.icon-right-arrow:before {
  content: "\67";
}
.icon-telegram:before {
  content: "\68";
}
.icon-twitter:before {
  content: "\69";
}
.icon-tea-circle:before {
  content: "\6b";
}
.icon-clipboard:before {
  content: "\6c";
}
.icon-tea-checkmark:before {
  content: "\6d";
}
.icon-pattern-random-21:before {
  content: "\6e";
}
.icon-pattern-random-15:before {
  content: "\6f";
}
.icon-pattern-random-19:before {
  content: "\70";
}
.icon-click-copy-icon:before {
  content: "\71";
}
.icon-star-full:before {
  content: "\73";
}
.icon-star-half:before {
  content: "\74";
}
.icon-star-empty:before {
  content: "\75";
}
.icon-tea-logo-iconasset-1:before {
  content: "\6a";
}
.icon-search-icon:before {
  content: "\72";
}
.icon-filter:before {
  content: "\76";
}
.icon-upload:before {
  content: "\77";
}
.icon-share:before {
  content: "\78";
}
.icon-calendar:before {
  content: "\79";
}
.icon-search-icon-1:before {
  content: "\41";
}
.icon-circle-random-20:before {
  content: "\7a";
}
.icon-play-icon:before {
  content: "\42";
}
.icon-email-icon-www:before {
  content: "\43";
}
.icon-hamburger-icon-square:before {
  content: "\44";
}
.icon-exclamation-circle:before {
  content: "\45";
}
.icon-check-circle:before {
  content: "\46";
}
.icon-tea-x-btn:before {
  content: "\47";
}
.icon-world:before {
  content: "\48";
}
.icon-update:before {
  content: "\49";
}
.icon-back-in-time:before {
  content: "\4a";
}
.icon-bar-chart:before {
  content: "\4b";
}
.icon-lightbulb:before {
  content: "\4c";
}
.icon-square:before {
  content: "\4d";
}
.icon-birthday-cake:before {
  content: "\4e";
}
.icon-down-open-mini:before {
  content: "\4f";
}
.icon-downward-arrow:before {
  content: "\50";
}
.icon-your-latest-versionasset-4:before {
  content: "\51";
}
.icon-versions-available:before {
  content: "\52";
}
.icon-version-available:before {
  content: "\53";
}
.icon-latest-version:before {
  content: "\54";
}
.icon-arrow-left:before {
  content: "\55";
}
.icon-arrow-right:before {
  content: "\56";
}
.icon-scissors:before {
  content: "\58";
}
.icon-upward-arrow:before {
  content: "\57";
}
.icon-check-circle-o:before {
  content: "\59";
}
.icon-cog:before {
  content: "\5a";
}
.icon-bug:before {
  content: "\30";
}
.icon-gear:before {
  content: "\31";
}
.icon-apple:before {
  content: "\32";
}
.icon-map:before {
  content: "\33";
}
.icon-grid:before {
  content: "\34";
}
.icon-trash:before {
  content: "\35";
}
.icon-link:before {
  content: "\36";
}
.icon-pencil:before {
  content: "\37";
}
.icon-share-1:before {
  content: "\38";
}
