@tailwind base;


/* base colors */
@layer base {
    :root {
        --oss-app-color-teal: #00ffd0;
        --oss-app-color-black: #1a1a1a;
        --oss-app-color-white: #fff;
        --oss-app-color-gray: #949494;
        --oss-app-color-purple: #8000FF;
        --oss-app-color-purple-900: #B076EC;
        --oss-app-color-green: #00A517;
        --oss-app-color-blue: #013B99;
    }
}

/* base theme.  CSS variables with business meaning*/
@layer base {
    :root {
        --oss-app-color-primary: var(--oss-app-color-teal);
        --oss-app-color-secondary: var(--oss-app-color-purple);
        --oss-app-fill-primary: var(--oss-app-color-black);
    }

    /* if needed? */
    [data-theme='dark'] {
        --oss-app-color-primary: var(--oss-app-color-teal);
        --oss-app-color-secondary: var(--oss-app-color-purple);
        --oss-app-fill-primary: var(--oss-app-color-black);

    }
}

/* base sizes */
@layer base {
    :root {}
}